<!doctype html>
<html lang="en">
	
<head>
	<meta charset="UTF-8">
	<meta name="author" content="Jarreau Gill">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>GameSetMatch</title>
	<link href="styles/style.css" rel="stylesheet">
</head>

<body>
	{{{body}}}
</body>
	
</html>