<h1>GameSetMatch</h1>

	<section class= "con">
    <img src="images/joy.png" alt="joystick">
    </section>

	<section class= "container"> 
		<button class="btn"><a href="profile.hbs">Start Matching</a></button>
	</section>

    <section class="joy">
        <img class="img1" src="images/joy.png" alt="joystick">
        <img class="img2" src="images/joy.png" alt="joystick">
    </section>