<h1>GameSetMatch</h1>

	<section class= "con">
    <img src="images/joy.png" alt="joystick">
    </section>

	<section class= "container"> 
		<a href="profile"><button class="btn">Start Matching</button></a>
	</section>
    <a class="a" href="login">Login</a>

    <section class="joy">
        <img class="img1" src="images/joy.png" alt="joystick">
        <img class="img2" src="images/joy.png" alt="joystick">
    </section>