<h1>GameSetMatch</h1>
	<img src="images/joy.png" alt="joystick">
	<section class= "container"> 
		<button class="btn"><a href="profile.hbs">Start Matching</a></button>
	</section>

    <section class="joy">
        <img class="img1" src="images/joy.png" alt="joystick">
        <img class="img2" src="images/joy.png" alt="joystick">
        <img class="img3" src="images/joy.png" alt="joystick">
        <img class="img4" src="images/joy.png" alt="joystick">
        <img class="img5" src="images/joy.png" alt="joystick">
        <img class="img6" src="images/joy.png" alt="joystick">
        <img class="img7" src="images/joy.png" alt="joystick">
        <img class="img8" src="images/joy.png" alt="joystick">
    </section>