html, body {
    height:100;
    margin:0;
    background-color: #2258B4;
}

:root{
    --rotate: rotate(-20deg);
    --shadow: 5px 5px 10px black;
}

h1 {
    text-align: center;
    margin-top: 2em;
    color: white;
}

@keyframes wiebelen{
    0% {
    transform:rotate(-30deg);
  }
  100% {
    transform:rotate(30deg);
  }
}

.con{
    animation: wiebelen 1s ease-in-out infinite alternate;
}

form {
    align-content: center;
}

.a {
    background: none;
     background-color: #ee25ee;
     padding: 10px 50px;
     font-size: 15px;
     color: white;
     border-radius: 50px;
     border: 2px solid #ee25ee;
     text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-top: 10em;
    margin-right: auto;
    width: 15em;
    height: 8em;
}

.joy{
    transform: var(--rotate);
    opacity: 30%;
}


.img1 {
    display: block;
    margin-left: 5em;
    margin-top: -15em;
    width: 5em;
    height: 3em;
}

.img2 {
    display: block;
    margin-right: 10em;
    margin-top: -10em;
    width: 5em;
    height: 3em;
}

.container {
    text-align: center;
    margin-top: 15em;
}

.btn {
     background: none;
     background-color: #ee25ee;
     padding: 10px 20px;
     font-size: 15px;
     color: white;
     border-radius: 50px;
     border: 2px solid #ee25ee;
     filter: drop-shadow(var(--shadow));
}