html, body {
    height:100;
    margin:0;
    background-color: #293ce9;
}

:root{
    --rotate: rotate(-20deg);
}

h1 {
    text-align: center;
    margin-top: 2em;
    color: white;
}

img {
    display: block;
    margin-left: 16em;
    margin-top: 10em;
    width: 15em;
    height: 8em;
}

.joy{
    transform: var(--rotate);
    opacity: 30%;
}


.img1 {
    display: block;
    margin-left: 5em;
    margin-top: -20em;
    width: 5em;
    height: 3em;
}

.img2 {
    display: block;
    margin-left: 10em;
    margin-top: -15em;
    width: 5em;
    height: 3em;
}

.container {
    text-align: center;
    margin-top: 10em;
}

.btn {
     background: none;
     background-color: #ee25ee;
     padding: 10px 20px;
     font-size: 15px;
     color: white;
     border-radius: 50px;
}